

/* courses  */
.course-content{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 50px;
}
.course-content p{
 white-space: nowrap;   
}

/* all courses links */
.reference-btn{
    background-color: #fff;
    color: #000;
    padding: 15px 20px;
    border-radius: 25px;
    width: 200px;
    display: block;
    margin-top: 15px;
    font-size: 18px;
}
.reference-btn:hover{
    background-color: #ccc;
}
.learn-btn{
    background-color: #04aa6d;
    color: #fff;
    padding: 15px 20px;
    border-radius: 25px;
    width: 200px;
    display: block;
    margin-top: 15px;
    font-size: 18px;
}
.learn-btn:hover{
    background-color: #059862;
}
/* html */
.html-course{
    font-family: sans-serif;
    background-color: #282A35;
}
.html-course .html-course-text{
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.html-course .html-course-text h1{
    font-size: 100px;
    font-weight: 700;
    color: #fff;
}
.html-course .html-course-text p{
    color: #fff;
}

/* example box */

.example-box{
    background-color: #ccc;
    padding: 15px;
    width: 40%;
    border-radius: 10px;
}
.example-box h3{
    font-size: 24px;
    margin: 10px 0px;
}


.try-it-btn{
    display: inline-block;
    padding: 10px 20px;
    width: 150px;
    text-align: center;
    color: #fff;
    background-color: #04aa6d;
    border-radius: 25px;
    margin-top: 10px;
}
.try-it-btn:hover{
    background-color: #059862;
}
/* code box */
.code-box{
    border-left: 5px solid #04aa6d;
    background-color: #fff;
    padding: 15px;
}
.code-box p{
    color: rgb(165, 42, 42);
    font-weight: lighter;
    font-size: 15px;
}


/* css */
.css-course{
    font-family: sans-serif;
    background-color: #d9eee1;
}
.css-course .css-course-text{
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.css-course .css-course-text h1{
    font-size: 100px;
    font-weight: 700;
    color: #000;
}
.css-course .css-course-text p{
    color: #000;
}
/* js */
.js-course{
    font-family: sans-serif;
    background-color: #FFF4A3 !important;
}
.js-course .js-course-text{
    width: 50%;
    display: flex;
    text-align: center !important;
    flex-direction: column;
    align-items: center;
}
.js-course .js-course-text h1{
    font-size: 70px;
    font-weight: 700;
    color: #000;
}
.js-course .js-course-text p{
    color: #000;
}
/* python */

.python-course{
    font-family: sans-serif;
    background-color: #282A35!important;
}
.python-course .python-course-text{
    width: 50%;
    display: flex;
    text-align: center !important;
    flex-direction: column;
    align-items: center;
}
.python-course .python-course-text h1{
    font-size: 70px;
    font-weight: 700;
    color: #fff;
}
.python-course .python-course-text p{
    color: #fff;
}
/* sql */

.sql-course{
    font-family: sans-serif;
    background-color: #FFF!important;
}
.sql-course .sql-course-text{
    width: 50%;
    display: flex;
    text-align: center !important;
    flex-direction: column;
    align-items: center;
}
.sql-course .sql-course-text h1{
    font-size: 70px;
    font-weight: 700;
    color: #000;
}
.sql-course .sql-course-text p{
    color: #000;
}


/* course end */